@import "tailwindcss";
@plugin "daisyui";

body{
    background-color: black;
    color: white;
}
.swiper-wrapper {
        transition-timing-function: linear !important;
      }

@keyframes gradient-move {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
  }